<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>Eat-da-Burgers!</title>
</head>

<body>

	{{{ body }}}

<!-- Footer -->
<footer class="page-footer">
	<div class="container">
	   <div class="row">
	    	<div class="col l6 s12">
	          	<a class="grey-text text-lighten-4"> © 2017 Copyright Neetu Toor</a>
	        </div>
	    </div>
	</div>
</footer>

</body>
</html>