@import url('https://fonts.googleapis.com/css?family=Holtwood+One+SC|Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Pangolin');
@import url('https://fonts.googleapis.com/css?family=Pangolin|Varela+Round');

footer.page-footer {
    background-color: maroon;
    text-align: center;
    padding-left: 300px;
    padding-top: 10px;
    padding-bottom: 5px;
}

h1{
	text-align: center;
	color: white;
	font-family: 'Luckiest Guy', cursive;
	font-family: 'Holtwood One SC', serif;
	letter-spacing: 5px;
	-webkit-text-stroke-width: 2px;
   	-webkit-text-stroke-color: maroon;
}

.z-depth-5 {
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    width: 1000px;
    height: 800px;
    margin-left: 200px;
}

h4{
	color: gold;
/*	text-align: center;
*/	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Pangolin', cursive;
}

.addBurgerRow {
	padding-left: 280px;
	padding-right: 280px;
}

 body{
 	background-color: gold;
 	color: maroon;
 	font-family: 'Pangolin', cursive;
	font-family: 'Varela Round', sans-serif;
	font-size: 18px;
 }

 #availableBurg {
 	background-color: white;
 	color: maroon;
 	border-radius: 15px
 }

 #addBurg {
 	width: 250px;
 	border-radius: 15px
	!background-color: maroon; 
}

/*.btn-large {
	background-color: maroon;
	width: 250px;
 	border-radius: 15px
}
*/
#bob{
	width: 500px;
	margin-left: 400px;
	margin-top: 20px
}